.one{ 
background-color:rgb(0, 217, 255); 
text-align: center; 
padding: 20px; 
} 
.one h1{ 
color: chocolate; 
} 
.ab{ 
text-align: right; 
padding-right: 10px; 
} 
.ab a{ 
margin: 5px; 
} 
.two{ 
background-color: lightskyblue; 
width: 400px; 
margin: 40px auto; 
padding: 20px; 
border: 3px solid black; 
text-align: center; 
} 
input{ 
width: 90%; 
padding: 5px; 
} 
button{ 
padding: 6px 15px; 
color: blue; 
} 
.t{  
padding: 20px;
}